<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/Site.css" />

    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="nav navbar navbar-default">
        <span class="text-center ">Books Internet Shop</span>
        @Html.Action("Sum","Card")
    </div>
    <div>
        <div class="col-md-2">
            @Html.Action("NavigationMenu", "Navigation")
        </div>
        <div class="col-md-10">
            @RenderBody()
        </div>
    </div>
    
</body>
</html>